* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #333;
}

img {
  vertical-align: middle
}

i,
em {
  display: block;
  font-style: normal;
}

button {
  cursor: pointer;
  background-color: #fff;
}

/*
blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
} */

/* table {
    border-collapse: collapse;
    border-spacing: 0;
} */


.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.w {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.fl {
  float: left;
}

.fr {
  float: right;
}
